* {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin-left: 50px;
    font-family: Verdana;
}

.invisible {
    display: none;
}

.current {
    font-weight: bold;
}

#btn-show-register {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

    #btn-show-register:hover {
        color: gray;
    }

#btn-show-login {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

    #btn-show-login:hover {
        color: gray;
    }

#form-register {
    width: 440px;
    background: -webkit-linear-gradient(top, #fff 10%, #595959 100%);
}

    #form-register fieldset {
        padding-top: 10px;
        padding-right: 75px;
        border: 5px solid black;
        border-radius: 5px;
        text-align: right;
        font-style: italic;
        font-weight: bold;
        font-size: 26px;
    }

        #form-register fieldset legend {
            padding: 0 10px;
            text-align: center;
        }

        #form-register fieldset label {
            display: inline-block;
            font-size: 16px;
            font-style: normal;
        }

        #form-register fieldset input {
            margin-bottom: 5px;
            padding: 10px;
            border-radius: 15px;
            border: none;
            background: -webkit-linear-gradient(top, #000 0%, #cacaca 100%);
        }

            #form-register fieldset input:last-of-type {
                margin-bottom: 7px;
            }

        #form-register fieldset button {
            padding: 5px 10px;
            margin-bottom: 10px;
            font-size: 18px;
            border-radius: 15px;
            border: 2px solid black;
            background: -webkit-linear-gradient(top, #000 0%, #fff 100%);
        }

            #form-register fieldset button:hover {
                background: -webkit-linear-gradient(top, #000 0%, #ccc 100%);
            }

#form-login {
    width: 440px;
    background: -webkit-linear-gradient(top, #fff 10%, #595959 100%);
}

    #form-login fieldset {
        padding-top: 10px;
        padding-right: 75px;
        border: 5px solid black;
        border-radius: 5px;
        text-align: right;
        font-style: italic;
        font-weight: bold;
        font-size: 26px;
    }

        #form-login fieldset legend {
            text-align: right;
            display: block;
            padding: 0 10px;
        }

        #form-login fieldset label {
            display: inline-block;
            font-size: 16px;
            font-style: normal;
        }

        #form-login fieldset input {
            margin-bottom: 5px;
            padding: 10px;
            border-radius: 15px;
            border: none;
            background: -webkit-linear-gradient(top, #000 0%, #cacaca 100%);
        }

            #form-login fieldset input:last-of-type {
                margin-bottom: 7px;
            }

        #form-login fieldset button {
            padding: 5px 10px;
            margin-bottom: 10px;
            font-size: 18px;
            border-radius: 15px;
            border: 2px solid black;
            background: -webkit-linear-gradient(top, #000 0%, #fff 100%);
        }

            #form-login fieldset button:hover {
                background: -webkit-linear-gradient(top, #000 0%, #ccc 100%);
            }
